@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";
@import "base/base";

.container {
  @include outer-container;
  @include pad( 0 1.5em);
}


body { margin: 0; }

header {
  background-color: $action-color;
  padding: 2em 0;
  margin-bottom: 3em;

  .wrapper {
    @extend .container;
  }

  h1 {
    font-weight: 400;
    font-size: em(32);
    color: white;
    margin: 0;
  }

}

main {
  @extend .container;

  h1 {
    @include span-columns(9);
    @include omega();
  }

  p {
    @include span-columns(9);
    @include omega();
  }

}

footer {
  background-color: $light-gray;
  padding: 2em 0;
  margin-top: 3em;

  .wrapper {
    @extend .container;
  }

  img {
    @include span-columns(3);
  }

  p {
    @include span-columns(9);
    @include omega();
    font-size: 1em;
    text-align: right;
  }

}

form {
  @include span-columns(9);
  @include omega();

  #query {
    width: 70%;
    float: left;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type=submit] {
    float: left;
    border-top-right-radius: $base-border-size;
    border-bottom-right-radius: $base-border-size;
  }

  span {
    color: $red;
    @include span-columns(12);
    @include omega();
  }

}

#map {
  @include span-columns(12);
  @include omega();
  min-height: 500px;
  margin-top: 2em;
  border: $base-border;
}
