@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";
@import "base/base";

body { margin: 0; }

header {
  background-color: #eee;
  padding: 2em;
  margin-bottom: 3em;

  .wrapper {
    @include outer-container;
  }

}

main {
  @include outer-container;
}

footer {
  background-color: #eee;
  padding: 2em;
  margin-top: 3em;

  .wrapper {
    @include outer-container;
  }

}

form {
  @include span-columns(8);
  @include omega();

  #query {
    @include span-columns(8);
  }

  input[type=submit] {
    @include span-columns(2);
    @include omega();
  }

}

#map {
  @include span-columns(12);
  @include omega();
  min-height: 500px;
  margin-top: 2em;
}
