{% from "macros.html" import nav_link with context %}

<!DOCTYPE html>
<html>
  <head>
    <title>CPD-Zones</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{{ url_for('static', filename='css/global.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  </head>
  <body>

    <main role="main">

      <h1>CPD-Zones</h1>

      {% block content %}{% endblock %}

    </main>

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
