% extends "base.html"
% block content

  <section class="intro">
    <h1>Find out who patrols your neighborhood.</h1>
    <p>This application helps Chattanoogans find which CPD zone they live in. Type in your address to get started.</p>
  </section>

  <form action="" method="post" name="query">
    {{ form.hidden_tag() }}
    {{ form.query(placeholder="Enter your address") }}
    % for error in form.query.errors
      <span>{{ error }}</span>
    % endfor
    <input type="submit" value="Locate">
  </form>


  % if zone_info
    <div class="zone-results">
      % for z in zone_info
        <section class="card">
          <ul>
            <li>{{ z.officer.name }}</li>
            <li>{{ z.officer.phone }}</li>
            <li><a href="mailto:{{ z.officer.email }}">{{ z.officer.email }}</a></li>
          </ul>
        </section>
      % endfor
    </div>
  % endif

  <div id="map"></div>
% endblock

% block js
  <script>
    var southWest = L.latLng(34.9816, -85.4719);
    var northEast = L.latLng(35.217, -85.0462);
    var center = L.latLng(35.0657, -85.241);
    var bounds = L.latLngBounds(southWest, northEast);

    var map = L.map('map', {
      maxZoom: 18,
      minZoom: 11,
      maxBounds: bounds,
      center: center,
      zoom: 12
    });

    L.tileLayer('//chattanoogapubliclibrary.github.io/cpd-zones-tiles/tiles/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Zone data &copy; City of Chattanooga, Imagery © <a href="http://mapbox.com">Mapbox</a>'}).addTo(map);
  </script>
  % if cordinates
    <script>
      var lat = {{ cordinates['lat'] }};
      var lon = {{ cordinates['lng'] }};
      var markerIcon = L.icon({
          iconUrl: "{{ url_for('static', filename = 'images/marker.png') }}",
          iconSize:     [60, 60], // size of the icon
      });

      L.marker([lat, lon], {icon: markerIcon}).addTo(map);
    </script>
  % endif
% endblock
