@import "../vendor/neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
$column: golden-ratio(1em, 3) !global; // Column width
$gutter: golden-ratio(1em, 3) !global; // Gutter between each two columns
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints
$medium-screen: em(640);
$large-screen: em(860);

$small: new-breakpoint(min-width em(600, 15) 12);
$medium: new-breakpoint(min-width em(800, 16) 12);
$large: new-breakpoint(min-width em(1200, 17) 12);

// ------------------------------------------------------------
// Omega Reset
// ------------------------------------------------------------

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}
