// Typography
@import url(//fonts.googleapis.com/css?family=Merriweather:400italic,400,900,700,700italic,900italic);
$merriweather: 'Merriweather', serif;

$base-font-family: $merriweather;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 2px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$darken-percent: 5%;

// Colors
$red: #FF6759;
$dark-gray: #5d5f60;
$light-gray: #E2E5E5;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $red;

// Border
$base-border-color: $light-gray;
$base-border-size: 4px;
$base-border: $base-border-size solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
